/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-mainvisual {
    .c-mainvisual__inner {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .c-mainvisual__title {
        display: none;
    }
}
