/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
------------------------------------------------------------*/
.c-banner {
    background-color: #000;

    .c-banner__price {
        width: 428px;
        @include sp {
            width: 284px;
        }
    }

    .c-banner__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 23px 50px;
        @include tab {
            flex-direction: column;
        }
        @include sp {
            padding: 17px 50px;
        }
    }

    .c-banner__btns {
        display: flex;

    }

    .c-banner__btn {
        width: 200px;

        &:first-child {
            margin-right: 23px;
        }
        @include sp {
            width: 161px;
        }
    }

}
