/*------------------------------------------------------------
form
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-line {
    .c-line__img {
        width: 396px;
    }

    .c-line__item {
        display: flex;
    }

    .c-line__ititle {
        font-size: 2.6rem;
        color: #008037;
        font-weight: 400;
    }

    .c-line__p {
        font-weight: 400;
        font-size: 1.6rem;
        color: #000;
        line-height: 1.8;
    }
}
