/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-cost {
    padding: 73px 0 60px;
    @include tab {
        padding: 100px 25px 60px;
        background-size: 170px;
    }
    @include sp {
        padding: 50px 25px 30px;
    }

    .c-cost__title {
        color: #008037;
    }

    .c-cost__subtitle {
        color: #000;
        font-size: 1.6rem;
        font-weight: 400;
        margin-top: 28px;
        @include sp {
            max-width: 477px;
            margin: 28px auto 0;
        }
    }

    .c-cost__wrapper {
        background: #fff;
        border-radius: 28px;
        padding: 60px 70px;
    }

    .c-cost__alltop {
        display: flex;
        justify-content: space-between;
    }

    .c-cost__logo {
        width: 32.8%;
    }

    .c-cost__allcost {
        width: 59.7%;
    }

    .c-cost__alltitle {
        font-size: 1.8rem;
        color: #000;
        font-weight: 400;
        line-height: 1.67;
    }

    table {
        background: #fefff3;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #008037;

        thead > tr > th {
            font-size: 2.7rem;
            font-weight: 900;
            line-height: 1.17;
            color: #fff;
            border: 1px solid #008037;

            &:not(:first-child) {
                background: #008037;
                padding: 23px 0;
            }
        }

        tbody > tr > th {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.75;
            color: #000;
            text-align: left;
            border: 1px solid #008037;
            padding-left: 14px;
        }

        td {
            font-size: 3.4rem;
            padding: 3px 0;
            font-weight: 400;
            line-height: 1.76;
            color: #000;
            border: 1px solid #008037;
            text-align: center;
        }
    }

    .c-cost__cross {
        width: 40px;
    }

    .c-cost__allcontent {
        table {
            thead > tr > th {
                &:first-child {
                    width: 15.4%;
                }

                &:not(:first-child) {
                    width: 38.2%;
                }
            }
        }
    }

    .c-cost__label {
        font-size: 1.8rem;
    }

    .c-cost__unit {
        font-size: 2.4rem;
    }
}
