/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-plan {
    .c-plan__icon {
        width: 58px;
    }

    .c-plan__iconlabel {
        font-weight: 700;
        font-size: 1.6rem;
        color: #000;
        line-height: 2.06;
    }

    .c-plan__p {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.78;
    }
}
