/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-cost {
    padding: 73px 0 60px;
    background: #f4f6ed;
    background-image: url(../../assets/img/arrow-bg.png);
    background-size: 370px;
    background-position: 0 -32px;
    @include tab {
        padding: 100px 25px 60px;
    }
    @include sp {
        padding: 50px 25px 30px;
    }

    .c-cost__title {
        color: #008037;
    }

    .c-cost__subtitle {
        color: #000;
        font-size: 1.6rem;
        font-weight: 400;
        margin-top: 28px;
        @include sp {
            max-width: 477px;
            margin: 28px auto 0;
        }
    }

    .c-cost__subtitle2 {
        margin-top: 17px;
        line-height: 1.8;
        margin-bottom: 29px;
        @include sp {
            max-width: 477px;
            margin: 17px auto 29px;
        }
    }

    .c-cost__intro {
        display: flex;
        justify-content: space-between;
        margin-top: 48px;
        margin-bottom: 70px;
        @include tab {
            flex-direction: column;
            align-items: center;
            max-width: 500px;
            margin: 48px auto 70px;
        }
    }

    .c-cost__label {
        font-size: 2.6rem;
        line-height: 1.2;
        color: #00be5a;
        font-weight: 900;
        @include sp {
            font-size: calc(2.6rem * 0.75);
        }
    }

    .c-cost__monthly {
        background: #fff;
        border-radius: 17px;
        width: 45.5%;
        text-align: center;
        padding: 22px 0;

        img {
            width: 310px;
            margin-top: 24px;
        }
        @include tab {
            width: 100%;

            img {
                width: 310px;
                margin-top: 13px;
            }
        }
        @include sp {
            border-radius: 9px;

            img {
                width: 185px;
                margin-top: 13px;
            }
        }
    }

    .c-cost__cross {
        width: 35px;
        @include tab {
            margin: 20px 0;
        }
    }

    .c-cost__yearly {
        background: #fff;
        width: 45.5%;
        border-radius: 17px;
        text-align: center;
        padding: 22px 30px;

        .c-cost__label {
            position: relative;
        }

        .c-cost__label::after {
            content: "";
            width: 100%;
            height: 3px;
            background: #00be5a;
            left: 0;
            position: absolute;
            bottom: -10px;
        }

        table {
            font-size: 1.8rem;
            font-weight: 400;
            width: 95%;
            color: #000;
            line-height: 1.16;
            margin: 20px auto 18px;
            @include sp {
                font-size: calc(1.8rem * 0.75);

                td {
                    &:nth-child(2) {
                        width: 30px;
                    }
                }
            }
        }
        @include tab {
            width: 100%;
            border-radius: 9px;
            padding: 9px;
        }
    }

    .c-cost__yearnote {
        font-size: 1.4rem;
        font-weight: 400;
        color: #000;
        line-height: 1.2;
        @include sp {
            font-size: calc(1.4rem * 0.75);
        }
    }

    .c-cost__note {
        margin-top: 20px;
        font-size: 1.4rem;
        line-height: 1.64;
        @include sp {
            font-size: calc(1.4rem * 0.75);
            max-width: 501px;
            margin: 20px auto 0;
        }
    }
}
