/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-tool {
  background: #008037;
  padding: 50px 0 11px;

  .c-tool__header {
    text-align: center;

    img {
      width: 489px;
    }
    @include sp {
      img {
        width: 335px;
      }
    }
  }

  .c-tool__subtitle {
    margin-top: 30px;
    @include sp {
      font-size: 2rem;
    }
  }

  .c-tool__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    @include sp {
      max-width: 587px;
      margin: 50px auto 0;
    }
  }

  .c-tool__item {
    position: relative;
    border: 6px solid #fff;
    border-radius: 30px;
    width: 27.5%;
    margin: 0 43px 80px;
    padding: 0 20px;

    &:nth-child(3n + 1) {
      margin-left: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(n + 4) {
      transform: translateX(20px);
    }
    @include medium {
      width: 25%;
    }
    @include tab {
      margin: 0 32px 80px;
    }
    @include sp {
      width: 37.4%;
      margin: 0 15px 30px;
      padding: 0 9px;
      border-width: 3px;
      border-radius: 15px;
      max-width: 201px;

      &:nth-child(n + 4) {
        transform: none;
      }

      &:nth-child(3n) {
        margin-right: 15px;
        margin-left: 0;
      }

      &:nth-child(4) {
        margin-left: 15px;
      }
    }
  }

  .c-tool__label {
    position: absolute;
    font-size: 2.2rem;
    background: #008037;
    font-weight: 900;
    color: #fff;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 81%;
    max-width: 211px;
    text-align: center;
    line-height: 1.4;
    padding-bottom: 11px;
    @include sp {
      font-size: 1.5rem;
    }
  }

  .c-tool__icon {
    width: 113px;
    margin: 50px auto 45px;
  }

  .c-tool__text {
    font-size: 1.6rem;
    color: #fff;
    position: relative;
    line-height: 1.8;
    padding-bottom: 23px;
    @include sp {
      font-size: 1.1rem;
    }
  }

  .c-tool__cloud {
    position: absolute;
    width: 120px;
    right: -17px;
    top: 0;
    transform: translate(50%, -100%);
    @include tab {
      width: 98px;
      right: -8px;
    }
    @include sp {
      width: 60px;
      right: -13px;
    }
  }

  .c-tool__phone {
    width: 113px;
    transform: translateX(10px);
    @include sp {
      width: 57px;
      transform: none;
    }
  }

  .c-tool__people {
    width: 140px;
    transform: translateX(-4px);
    @include sp {
      transform: none;
      width: 70px;
    }
  }

  .c-tool__repair {
    width: 137px;
    @include sp {
      width: 69px;
    }
  }

  .c-tool__task {
    width: 81px;
    @include sp {
      width: 41px;
    }
  }

  .c-tool__chart {
    width: 126px;
    @include sp {
      width: 63px;
    }
  }
}
