.c-flow {
    padding-top: 74px;
    padding-bottom: 138px;

    .c-flow__title {
        color: #008037;
    }

    .c-flow__wrapper {
        display: flex;
        justify-content: center;
        position: relative;
        @include sp {
            padding: 0 20px;
            max-width: 472px;
        }
    }

    .c-flow__left {
        img {
            width: 265px;
        }
    }

    .c-flow__right {
        width: 64%;
        @include sp {
            width: 100%;
        }
    }

    .c-flow__items {
        margin-top: 95px;
        @include sp {
            max-width: 358px;
            margin: 95px auto 0;
        }
    }

    .c-flow__item {
        display: flex;
        padding-bottom: 23px;
        margin-bottom: 56px;

        &:not(:first-child) {
            .c-flow__content {
                padding-top: 17px;
            }
        }

        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;

            .c-flow__icon {
                &::after {
                    display: none;
                }
            }
        }
        @include sp {
            &:not(:first-child) {
                .c-flow__content {
                    padding-top: 0;
                }
            }
        }
    }

    .c-flow__wrapper {
        @include sp {
            flex-direction: column;
        }
    }

    .c-flow__icon {
        margin-right: 53px;
        position: relative;

        &::after {
            content: "";
            width: 1px;
            height: 36px;
            background: #00be5a;
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translate(-50%, 100%);
        }

        img {
            width: 152px;
            min-width: 152px;
        }
        @include sp {
            margin-right: 20px;

            img {
                min-width: 103px;
                max-width: 103px;
            }
        }
    }

    .c-flow__cheader {
        display: flex;
        align-items: center;

        img {
            width: 43px;
        }
        @include sp {
            img {
                width: 30px;
            }
        }
    }

    .c-flow__cheader1 {
        img {
            width: 38px;
        }
        @include sp {
            img {
                width: 28px;
            }
        }
    }

    .c-flow__ititle {
        font-size: 2.8rem;
        font-weight: 900;
        margin-left: 19px;
        line-height: 0.8;
        margin-top: 13px;
        @include tab {
            line-height: 1.2;
        }
        @include sp {
            margin-left: 9px;
            font-size: calc(2.8rem * 0.75);
            margin-top: 10px;
            line-height: 1.2;
        }
    }

    .c-flow__text {
        font-size: 1.4rem;
        line-height: 1.65;
        font-weight: 400;
        margin: 13px 0;
    }

    .c-flow__btn {
        img {
            width: 200px;
        }
        @include sp {
            img {
                width: 130px;
            }
        }
    }

    .c-flow__img {
        position: absolute;
        width: 150px;
        mix-blend-mode: darken;
        @include sp {
            width: 87px;
        }
    }

    .c-flow__img1 {
        left: 3%;
        top: 4%;
        @include sp {
            left: 3%;
            top: 1%;
        }
    }

    .c-flow__img2 {
        top: 38%;
        right: 3%;
        @include sp {
            top: 40%;
            right: 3%;
        }
    }

    .c-flow__img3 {
        bottom: 28%;
        left: 2%;
        @include sp {
            bottom: 31.6%;
            left: 71%;
        }
    }

    .c-flow__img4 {
        bottom: 7%;
        right: 8%;
        @include sp {
            bottom: 12%;
            right: 4%;
        }
    }
}
