.c-notice {
    background: #008037;
    padding: 100px 0;
    @include tab {
        padding: 100px 25px;

    }

    .c-notice__items {
        background: #fff;
        border-radius: 30px;
        padding: 30px 86px 47px;
        margin-top: 50px;
        @include sp {
            padding: 0 10px;
        }
    }

    .c-notice__item {
        display: flex;
        padding: 18px 0 10px 10px;
        border-bottom: 1px solid #ccc;
        @include sp {
            flex-direction: column;
        }
    }

    .c-notice_date {
        font-size: 1.6rem;
        font-weight: 400;
        display: flex;
        line-height: 1.95;
        color: #000;
        padding-right: 44px;
        @include sp {
            font-size: calc(1.6rem * 0.75);
        }
    }

    .c-notice__title {
        font-size: 1.6rem;
        font-weight: 400;
        display: flex;
        line-height: 1.95;
        color: #000;
        @include sp {
            font-size: calc(1.6rem * 0.75);
        }
    }
}
