.c-qr {
    padding: 91px 0 82px;


    .c-qr__title {
        color: #008037;
    }

    .c-qr__qr {
        text-align: center;

        img {
            width: 234px;
        }
    }

    .c-qr__subtitle {
        color: #000;
        font-size: 1.6rem;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 42px;
        @include sp {
            padding: 0 10px;
        }
    }

}
