.c-notes {
    .c-notes__title {
        font-size: 3.5rem;
        font-weight: 900;
        line-height: 1.74;
        color: #008037;
        text-align: center;
        @include sp {
            font-size: calc(3.5rem * 0.75);
        }
    }

    .c-notes__wrapper {
        background: #fff;
        border-radius: 30px;
        padding: 50px;
        @include sp {
            border-radius: 15px;
            padding: 25px;
        }
    }

    .c-notes__des {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.72;
        text-align: center;
        margin-bottom: 45px;
        max-width: 697px;
        margin: 0 auto 45px;
        @include sp {
            font-size: calc(1.8rem * 0.75);
        }
    }

    .c-notes__subtitle {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
        padding-bottom: 25px;
        border-bottom: 1px solid #ccc;
        @include sp {
            font-size: calc(2.2rem * 0.75);
        }
    }

    .c-notes__contenttitle {
        font-size: 1.4rem;
        font-weight: 700;
        color: #008037;
        line-height: 1.92;
        @include sp {
            font-size: calc(1.4rem * 0.75);
        }
    }

    .c-notes__content {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.92;
        padding-left: 27px;
        @include sp {
            font-size: calc(1.4rem * 0.75);
        }
    }

    .c-notes__header {
        margin-bottom: 45px;
    }

    .c-note__accept {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.93;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 63px;
        @include sp {
            font-size: calc(1.6rem * 0.75);
        }

        label {
            cursor: pointer;
        }

        input[type="checkbox"] {
            appearance: none;
            background-color: transparent;
            font: inherit;
            color: #000;
            width: 15px;
            height: 15px;
            border: 1px solid #000;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        input[type="checkbox"]::before {
            content: "";
            width: 10px;
            display: none;
            height: 10px;
            background: #008037;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        }

        input[type="checkbox"]:checked {
            &::before {
                display: block;
            }
        }
    }

    .c-notes__home {
        img {
            width: 296px;
        }
        margin: 26px auto 0;
        display: block;
        text-align: center;
        width: fit-content;
    }

    .c-notes__dot {
        margin-left: -13px;
    }
    .c-notes__link{
        font-weight: 700;
        color: #008037;
    }
}
