/* Header
------------------------------------------------------------*/
.c-header {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 25px;
    padding: 0 10px;

    .c-header__main {
        display: flex;
        justify-content: space-between;
        background: #fff;
        align-items: center;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
    }

    .c-header__navlinks {
        display: flex;
        color: #000;
        font-size: 1.4rem;
        font-weight: 700;
        width: 100%;
        justify-content: flex-end;
        @include sp {
            flex-direction: column;
            color: #fff;
        }
    }

    .c-header__logo {
        width: 98px;
        margin-left: 30px;
        @include medium {
            margin-left: 20px;
        }
    }

    .c-header__extralink {
        font-size: 1.4rem;
        color: #fff;
        margin-left: auto;
        font-weight: 700;
        width: fit-content;
        display: flex;
        margin-bottom: 25px;
        background: #000;
        border-radius: 16px;

        a {
            padding: 5px 20px;
        }
    }

    .c-header__inquiry {
        color: #fff;
        font-weight: 700;
        font-size: 1.4rem;
        text-align: center;
        padding: 23px 13px;
        background-color: #00be5a;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        width: 185px;
    }

    .c-header__mainnav {
        width: 100%;
        min-width: 632px;
        @include sp {
            min-width: auto;
        }
    }

    .c-header__navlink {
        &:not(:first-child) {
            margin-left: -2px;
            letter-spacing: -0.9px;
        }

        a {
            padding: 23px 0;
            display: block;
            letter-spacing: 1px;
            margin-right: 21px;
        }
        @include medium {
            a {
                margin-right: 12px;
            }
        }
    }

    .c-header__arrowicon {
        padding-left: 12px;
    }

    .c-header__overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        display: none;
        left: 0;
        background: #000;
    }
}
/* Main menu
------------------------------------------------------------*/
