<%- include('_layouts/layout', { title: 'Home page' }); -%>

<!-- @meta -->
<meta name="description" content="Home page" />
<!-- @@meta -->

<!-- @content -->
<main class="p-top">
  <section class="c-mainvisual">
    <div class="c-mainvisual__inner">
      <img src="./assets/img/mv.jpg" alt="" />
    </div>
  </section>
  <!-- Banner -->
  <%- include('_partials/banner'); -%>
  <%- include('_partials/mechanism'); -%>
  <!-- Banner -->
  <%- include('_partials/banner'); -%>
  <%- include('_partials/line'); -%>
  <!-- Banner -->
  <%- include('_partials/banner'); -%>
  <%- include('_partials/tool'); -%>
  <%- include('_partials/use'); -%>
  <!-- Banner -->
  <%- include('_partials/banner'); -%>
  <%- include('_partials/future'); -%>
  <%- include('_partials/cost'); -%>
  <!-- Banner -->
  <%- include('_partials/banner'); -%>

  
  
</main>
<!-- @@content -->

<!-- @script -->
<script>
  console.log("home page");
</script>
<!-- @@script -->
