<%- include('_layouts/layout', { title: 'Home page' }); -%>

<!-- @meta -->
<meta name="description" content="Home page" />
<!-- @@meta -->

<!-- @content -->
<main class="p-top">
  <section class="c-mainvisual">
    <div class="c-mainvisual__inner">
      <img src="./assets/img/mv.jpg" alt="" />
    </div>
  </section>
  <!-- Banner -->
  <div class="c-banner">
    <div class="l-container">
      <div class="c-banner__content">
        <div class="c-banner__price">
          <img src="./assets/img/price.png" alt="" />
        </div>
        <div class="c-banner__btns">
          <div class="c-banner__btn">
            <img src="./assets/img/btn-1.png" alt="" />
          </div>
          <div class="c-banner__btn">
            <img src="./assets/img/btn-1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('_partials/mechanism'); -%>
  <!-- Banner -->
  <div class="c-banner">
    <div class="l-container">
      <div class="c-banner__content">
        <div class="c-banner__price">
          <img src="./assets/img/price.png" alt="" />
        </div>
        <div class="c-banner__btns">
          <div class="c-banner__btn">
            <img src="./assets/img/btn-1.png" alt="" />
          </div>
          <div class="c-banner__btn">
            <img src="./assets/img/btn-1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('_partials/line'); -%>
    <!-- Banner -->
    <div class="c-banner">
      <div class="l-container">
        <div class="c-banner__content">
          <div class="c-banner__price">
            <img src="./assets/img/price.png" alt="" />
          </div>
          <div class="c-banner__btns">
            <div class="c-banner__btn">
              <img src="./assets/img/btn-1.png" alt="" />
            </div>
            <div class="c-banner__btn">
              <img src="./assets/img/btn-1.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('_partials/tool'); -%>
    <%- include('_partials/use'); -%>
     <!-- Banner -->
     <div class="c-banner">
      <div class="l-container">
        <div class="c-banner__content">
          <div class="c-banner__price">
            <img src="./assets/img/price.png" alt="" />
          </div>
          <div class="c-banner__btns">
            <div class="c-banner__btn">
              <img src="./assets/img/btn-1.png" alt="" />
            </div>
            <div class="c-banner__btn">
              <img src="./assets/img/btn-1.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('_partials/future'); -%>

  <!-- section-6-item -->
  
  <!-- Table -->
  <div class="l-container">
    <table class="c-table">
      <thead>
        <tr>
          <th></th>
          <th class="c-table__head c-table__head1">スタートプラン</th>
          <th class="c-table__head c-table__head2">ベーシックプラン</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="c-table__th">初期費用</th>
          <td class="c-table__td c-table__start">0円</td>
          <td class="c-table__td c-table__basic">0円</td>
        </tr>
        <tr>
          <th class="c-table__th">送信可能通数</th>
          <td class="c-table__td c-table__start">1000通</td>
          <td class="c-table__td c-table__basic">無制限</td>
        </tr>
        <tr>
          <th class="c-table__th">金額</th>
          <td class="c-table__td c-table__start">2,700円</td>
          <td class="c-table__td c-table__basic">20,000円</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
<!-- @@content -->

<!-- @script -->
<script>
  console.log("home page");
</script>
<!-- @@script -->
