<!-- Banner -->
<div class="c-banner">
  <div class="l-container">
    <div class="c-banner__content">
      <div class="c-banner__price">
        <img src="./assets/img/price.png" alt="2700円" >
      </div>
      <div class="c-banner__btns">
        <a href="./application-notes.html" target="_blank"  class="c-banner__btn">
          プランを確認して申し込む
        </a>
        <a href="https://www.cogito.co.jp/contact.html" target="_blank" class="c-banner__btn">
          資料請求・お問い合わせ
        </a>
      </div>
    </div>
  </div>
</div>
