<!-- Banner -->
<div class="c-banner">
  <div class="l-container">
    <div class="c-banner__content">
      <div class="c-banner__price">
        <img src="./assets/img/price.png" alt="2700円" />
      </div>
      <div class="c-banner__btns">
        <a href="#" class="c-banner__btn">
          <img src="./assets/img/btn-1.png" alt="新規プランお申込み" />
        </a>
        <a href="#" class="c-banner__btn">
          <img src="./assets/img/btn-1.png" alt="資料請求・お問い合わせ" />
        </a>
      </div>
    </div>
  </div>
</div>
