<!-- Banner -->
<div class="c-banner">
  <div class="l-container">
    <div class="c-banner__content">
      <div class="c-banner__price">
        <img src="./assets/img/price.png" alt="" />
      </div>
      <div class="c-banner__btns">
        <div class="c-banner__btn">
          <img src="./assets/img/btn-1.png" alt="" />
        </div>
        <div class="c-banner__btn">
          <img src="./assets/img/btn-1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
