<section class="c-cost u-arrowbg" id="price">
  <h2 class="c-title c-cost__title">費用について</h2>
  <h3 class="c-subtitle c-cost__subtitle">
    LinkATのご利用を開始される場合は、LinkATの月額費用の他に「LINE公式アカウントのご利用料金」が発生します。
  </h3>
  <div class="l-container">
    <div class="c-cost__wrapper">
      <div class="c-cost__allplan">
        <div class="c-cost__alltop">
          <div class="c-cost__logo">
            <img src="./assets/img/cost-logo.png" alt="" >
          </div>
          <div class="c-cost__allcost">
            <img src="./assets/img/cost.png" alt="" >
          </div>
        </div>
        <div class="c-cost__allcontent">
          <p class="c-cost__alltitle">
            全プランLinkATの全ての機能がご利用可能<br >
            配信通数によって、最適なプランをお選びいただけます。
          </p>
          <div class="c-cost__table1">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>スタート<span class="c-cost__label">プラン</span></th>
                  <th class="c-cost__recommendfirst">ベーシック<span class="c-cost__label">プラン</span></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>送信可能通数</th>
                  <td>1,000<span class="c-cost__unit">通</span></td>
                  <td class="c-cost__recommendsecond">無制限</td>
                </tr>
                <tr>
                  <th>月額金額</th>
                  <td>2,700<span class="c-cost__unit">円</span></td>
                  <td class="c-cost__recommendlast">20,000<span class="c-cost__unit">円</span></td>
                </tr>
              </tbody>
            </table>
            <div class="c-cost__highlight">
              <p class="c-cost__highlighttext">オススメ!</p>
              <div class="c-cost__highlightcontent"></div>
            </div>
          </div>
        </div>
        <div class="c-cost__cross">
          <img
            src="./assets/img/cross.svg"
            alt="LINE公式アカウントの月額料金"
          >
        </div>
        <div class="c-cost__line">
          <div class="c-cost__linetitle">
            <img src="./assets/img/line.svg" alt="" >
            <p class="">LINE公式アカウントの費用</p>
          </div>
          <div class="c-cost__table2">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>フリー<span class="c-cost__label">プラン</span></th>
                  <th>ライト<span class="c-cost__label">プラン</span></th>
                  <th>スタンダード<span class="c-cost__label">プラン</span></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>送信可能通数</th>
                  <td>1,000<span class="c-cost__unit">通</span></td>
                  <td>15,000<span class="c-cost__unit">通</span></td>
                  <td>45,000<span class="c-cost__unit">通</span></td>
                </tr>
                <tr>
                  <th>月額金額</th>
                  <td>0<span class="c-cost__unit">円</span></td>
                  <td>5,000<span class="c-cost__unit">円</span></td>
                  <td>15,000<span class="c-cost__unit">円</span></td>
                </tr>
                <tr>
                  <th>追加メッセージ</th>
                  <td class="c-cost__fuka">不可</td>
                  <td>
                    5<span class="c-cost__unit">円</span
                    ><span class="c-cost__per">/通</span>
                  </td>
                  <td>
                    3<span class="c-cost__unit">円</span
                    ><span class="c-cost__per">/通</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
