<section class="c-cost">
  <h2 class="c-title c-cost__title">費用について</h2>
  <h3 class="c-subtitle c-cost__subtitle">
    LinkATのご利用を開始される場合は、LinkATの月額費用の他に「LINE公式アカウントのご利用料金」が発生します。
  </h3>
  <div class="l-container">
    <div class="c-cost__intro">
      <div class="c-cost__monthly">
        <p class="c-cost__label">LinkATの月額料金</p>
        <img src="./assets/img/2700.png" alt="" />
      </div>
      <img src="./assets/img/cross.svg" class="c-cost__cross" alt="">
      <div class="c-cost__yearly">
        <p class="c-cost__label">LINE公式アカウントの月額料金</p>
        <table>
          <tr>
            <td class="u-left">スタートプラン</td>
            <td>月額</td>
            <td class="u-right">0円/ 1000通</td>
          </tr>
          <tr>
            <td class="u-left">ベーシックプラン</td>
            <td>月額</td>
            <td class="u-right">5,000円/15000通</td>
          </tr>
          <tr>
            <td class="u-left">プレミアムプラン</td>
            <td>月額</td>
            <td class="u-right">15,000円/45000通</td>
          </tr>
        </table>
        <p class="c-cost__yearnote">※LINE社にお支払いする金額</p>
      </div>
    </div>
    <p class="c-title c-cost__title">料金プラン</p>
    <p class="c-subtitle c-cost__subtitle c-cost__subtitle2">
      LinkATはプランによって機能制限は設けておりません。どのプランでも、すべての機能をご利用いただけます。<br />
      店舗や企業の規模や情報の配信頻度などに応じてプランをご検討ください。
    </p>
    <table class="c-table">
      <thead>
        <tr>
          <th></th>
          <th class="c-table__head c-table__head1">スタートプラン</th>
          <th class="c-table__head c-table__head2">ベーシックプラン</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="c-table__th">初期費用</th>
          <td class="c-table__td c-table__start">0円</td>
          <td class="c-table__td c-table__basic">0円</td>
        </tr>
        <tr>
          <th class="c-table__th">送信可能通数</th>
          <td class="c-table__td c-table__start">1000通</td>
          <td class="c-table__td c-table__basic">無制限</td>
        </tr>
        <tr>
          <th class="c-table__th">金額</th>
          <td class="c-table__td c-table__start">2,700円</td>
          <td class="c-table__td c-table__basic">20,000円</td>
        </tr>
      </tbody>
    </table>
    <p class="c-cost__note">
      ※費用は全て税抜きです<br />
      ※LinkATはLINE公式アカウントと連動してツールの運用を行うため、必ず両方のアカウントを作成していただく必要がございます。<br />
      　そのためLinkATの費用以外に、別途LINE公式アカウントの料金が必要です。<br />
      ※LinkATのお申し込みにあたって、必ず「ご注意事項」と「利用規約」をご確認ください。<br />
    </p>
  </div>
</section>
