<section class="c-faq" id="faq">
  <h2 class="c-title c-faq__title">よくあるご質問</h2>
  <div class="l-container">
    <div class="c-faq__topicitems">
      <dl class="c-faq__topicitem">
        <dt class="c-faq__question">
          <p class="c-faq__questiontitle">
            LINE公式アカウントとの違いはなんですか？
          </p>
          <img src="./assets/img/faq_close.png" class="c-faq__icon" alt="LINE公式アカウントとの違いはなんですか？">
        </dt>
        <dd class="c-faq__answer">
          <p class="c-faq__answercontent">
            LinkATは、LINE公式アカウントをより強力なマーケティングツールにするための外部システムツールです。<br />
            LINE公式アカウントにはない様々な機能をご利用いただくことができます。
          </p>
        </dd>
      </dl>
      <dl class="c-faq__topicitem">
        <dt class="c-faq__question">
          <p class="c-faq__questiontitle">
            既にLINE公式アカウントを運用しているのですが今までのデータは引き継げますか？
          </p>
          <img src="./assets/img/faq_close.png" class="c-faq__icon" alt="既にLINE公式アカウントを運用しているのですが今までのデータは引き継げますか？">
        </dt>
        <dd class="c-faq__answer">
          <p class="c-faq__answercontent">
            LinkAT
            導入後に既存の友だちからメッセージまたはスタンプの送信いただくことで
            LinkAT に認識させることができます。<br />
            ただ、トーク履歴等は引き継げない仕様になります。
          </p>
        </dd>
      </dl>
      <dl class="c-faq__topicitem">
        <dt class="c-faq__question">
          <p class="c-faq__questiontitle">
            導入後のサポートはしていただけますか？
          </p>
          <img src="./assets/img/faq_close.png" class="c-faq__icon" alt="導入後のサポートはしていただけますか？">
        </dt>
        <dd class="c-faq__answer">
          <p class="c-faq__answercontent">
            はい、勿論です。<br />
            LinkAT導入後に希望されるお客様には、LinkATの基本的な操作が分かる導入研修をご提供させて頂いております。
          </p>
        </dd>
      </dl>
      <dl class="c-faq__topicitem">
        <dt class="c-faq__question">
          <p class="c-faq__questiontitle">
            スマホでもLinkATは利用できますか。
          </p>
          <img src="./assets/img/faq_close.png" class="c-faq__icon" alt="スマホでもLinkATは利用できますか。">
        </dt>
        <dd class="c-faq__answer">
          <p class="c-faq__answercontent">
            申し訳ございません。<br />
            LinkATはPCでのご利用のみとなります。
          </p>
        </dd>
      </dl>
      <dl class="c-faq__topicitem">
        <dt class="c-faq__question">
          <p class="c-faq__questiontitle">最低契約期間などはありますか？</p>
          <img src="./assets/img/faq_close.png" class="c-faq__icon" alt="最低契約期間などはありますか？">
        </dt>
        <dd class="c-faq__answer">
          <p class="c-faq__answercontent">
            最低契約期間はお申込みから3カ月です。
          </p>
        </dd>
      </dl>
      <dl class="c-faq__topicitem">
        <dt class="c-faq__question">
          <p class="c-faq__questiontitle">
            料金の支払い方法は何がありますか？
          </p>
          <img src="./assets/img/faq_close.png" class="c-faq__icon" alt="料金の支払い方法は何がありますか？">
        </dt>
        <dd class="c-faq__answer">
          <p class="c-faq__answercontent">
            銀行振り込み（請求書）払いまたは、クレジットカードでのお支払いが可能です。
          </p>
        </dd>
      </dl>
      <dl class="c-faq__topicitem">
        <dt class="c-faq__question">
          <p class="c-faq__questiontitle">申し込みの方法を教えてください。</p>
          <img src="./assets/img/faq_close.png" class="c-faq__icon" alt="申し込みの方法を教えてください。">
        </dt>
        <dd class="c-faq__answer">
          <p class="c-faq__answercontent">
            LinkATお申込みフォームよりお申込みください。<br>
            決済が確認でき次第、アカウント開設のお手続きをするためのご案内を送付いたします。
          </p>
        </dd>
      </dl>
      <dl class="c-faq__topicitem">
        <dt class="c-faq__question">
          <p class="c-faq__questiontitle">詳細な資料がほしいです。</p>
          <img src="./assets/img/faq_close.png" class="c-faq__icon" alt="詳細な資料がほしいです。">
        </dt>
        <dd class="c-faq__answer">
          <p class="c-faq__answercontent">
            こちらのお問い合わせフォームからご連絡ください。<br />
            担当から資料をお送りさせていただきます。
          </p>
        </dd>
      </dl>
    </div>
  </div>
</section>
