<section class="c-flow">
  <div class="l-container">
    <div class="c-flow__left"></div>
    <div class="c-flow__right">
      <div class="c-flow__items">
        <div class="c-flow__item">
          <div class="c-flow__icon">
            <img src="" alt="" />
          </div>
          <div class="c-flow__content">
            <div class="c-flow__cheader">
              <img src="" alt="" />
              <h3>お申込み</h3>
            </div>
            <p class="c-flow__text">
              LinkATお申込みフォームよりご利用のお申込み
            </p>
            <a href="#" class="c-flow__btn">お申込みはこちら</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
