<section class="c-flow" id="flow">
  <div class="l-container c-flow__wrapper">
    <div class="c-flow__right">
      <div class="c-flow__items">
        <div class="c-flow__item">
          <div class="c-flow__icon">
            <img src="./assets/img/step-1-icon.png" alt="お申込み" >
          </div>
          <div class="c-flow__content">
            <div class="c-flow__cheader c-flow__cheader1">
              <img src="./assets/img/step-1.png" alt="お申込み" >
              <h3 class="c-flow__ititle">お申込み</h3>
            </div>
            <p class="c-flow__text">
              LinkATお申込みフォームよりご利用のお申込み
            </p>
            <a href="./application-notes.html" class="c-flow__btn">
              <img src="./assets/img/flow-btn.png" alt="お申込み" >
            </a>
          </div>
        </div>
        <div class="c-flow__item">
          <div class="c-flow__icon">
            <img
              src="./assets/img/step-2-icon.png"
              alt="LINE公式アカウントの開設"
            >
          </div>
          <div class="c-flow__content">
            <div class="c-flow__cheader">
              <img
                src="./assets/img/step-2.png"
                alt="LINE公式アカウントの開設"
              >
              <h3 class="c-flow__ititle">LINE公式アカウントの開設</h3>
            </div>
            <p class="c-flow__text">
              LinkATの操作案内に従いLINE公式アカウントを開設
            </p>
          </div>
        </div>
        <div class="c-flow__item">
          <div class="c-flow__icon">
            <img src="./assets/img/step-3-icon.png" alt="LinkATと連携" >
          </div>
          <div class="c-flow__content">
            <div class="c-flow__cheader">
              <img src="./assets/img/step-3.png" alt="LinkATと連携" >
              <h3 class="c-flow__ititle">LinkATと連携</h3>
            </div>
            <p class="c-flow__text">
              LinkATの操作案内に従いLINE公式アカウントとLinkATを連携
            </p>
          </div>
        </div>
        <div class="c-flow__item">
          <div class="c-flow__icon">
            <img src="./assets/img/step-4-icon.png" alt="操作のご説明" >
          </div>
          <div class="c-flow__content">
            <div class="c-flow__cheader">
              <img src="./assets/img/step-4.png" alt="操作のご説明" >
              <h3 class="c-flow__ititle">操作のご説明</h3>
            </div>
            <p class="c-flow__text">
              専任担当がLINE公式アカウントやLinkATの操作説明を数回にわたって
              ご説明します。
            </p>
          </div>
        </div>
        <div class="c-flow__item">
          <div class="c-flow__icon">
            <img src="./assets/img/step-5-icon.png" alt="運用開始" >
          </div>
          <div class="c-flow__content">
            <div class="c-flow__cheader">
              <img src="./assets/img/step-5.png" alt="運用開始" >
              <h3 class="c-flow__ititle">運用開始</h3>
            </div>
            <p class="c-flow__text">
              運用開始後も、専任担当が操作や運用についてサポートいたします。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
