<footer class="c-footer">
  <div class="l-container">
    <div class="c-footer__top">
      <a href="./index.html" class="c-footer__logo">
        <img src="./assets/img/footer-logo.png" alt="LinkAT">
      </a>
      <div class="c-footer__linksblock">
        <ul class="c-footer__links">
          <li>
            <a href="#about" class="c-footer__link">LinkATにできること</a>
          </li>
          <li><a href="#function" class="c-footer__link">機能一覧</a></li>
          <li><a href="#price" class="c-footer__link">料金プラン</a></li>
          <li><a href="#flow" class="c-footer__link">ご導入まで</a></li>
        </ul>
        <ul class="c-footer__links">
          <!-- <li>
            <a href="#demo" class="c-footer__link">LinkATを体験する</a>
          </li> -->
          <li><a href="#faq" class="c-footer__link">よくあるご質問</a></li>
          <li><a href="https://linkat.jp/" target="_blank" class="c-footer__link">公式ブログ</a></li>
          <li>
            <a href="https://twitter.com/linkatcgte" class="c-footer__exlink" target="_blank"><img src="./assets/img/tw.svg" alt="LinkAT" ></a>
            <!-- <a href="https://www.youtube.com/@linkat7288/featured" class="c-footer__exlink" target="_blank"><img src="./assets/img/ytb.svg" alt="LinkAT" ></a> -->
          </li>
        </ul>
        <ul class="c-footer__links">
          <li>
            <a href="https://www.cogito.co.jp/" class="c-footer__link" target="_blank">運営会社情報</a>
          </li>
          <li><a href="https://www.cogito.co.jp/privacy" class="c-footer__link" target="_blank">個人情報保護方針</a></li>
          <li><a href="./assets/pdf/sale-law.pdf" class="c-footer__link" target="_blank">特定商取引法に基づく表示</a></li>
          <li><a href="./assets/pdf/terms-of-service.pdf" class="c-footer__link" target="_blank">利用規約</a></li>
          <li>
            <a href="./assets/pdf/important-points.pdf"  class="c-footer__link" target="_blank">ご利用上の注意</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="c-footer__btns is-pc">
      <a href="./application-notes.html" target="_blank" class="c-banner__btn">
        プランを確認して申し込む
      </a>
      <a href="https://www.cogito.co.jp/contact.html" target="_blank" class="c-banner__btn">
        資料請求・お問い合わせ
      </a>
    </div>
    <p class="c-footer__copyright">Copyright(C) COGITO Inc. All Rights Reserved.</p>
  </div>
</footer>
