<footer class="c-footer">
  <div class="l-container">
    <div class="c-footer__top">
      <div class="c-footer__logo">
        <img src="./assets/img/footer-logo.png" alt="LinkAT">
      </div>
      <div class="c-footer__linksblock">
        <ul class="c-footer__links">
          <li>
            <a href="#" class="c-footer__link">LinkATにできること</a>
          </li>
          <li><a href="#" class="c-footer__link">機能一覧</a></li>
          <li><a href="#" class="c-footer__link">料金プラン</a></li>
          <li><a href="#" class="c-footer__link">ご導入まで</a></li>
        </ul>
        <ul class="c-footer__links">
          <li>
            <a href="#" class="c-footer__link">LinkATを体験する</a>
          </li>
          <li><a href="#" class="c-footer__link">よくあるご質問</a></li>
          <li><a href="#" class="c-footer__link">公式ブログ</a></li>
          <li>
            <a href="#" class="c-footer__exlink" target="_blank"><img src="" alt="" /></a>
            <a href="#" class="c-footer__exlink" target="_blank"><img src="" alt="" /></a>
          </li>
        </ul>
        <ul class="c-footer__links">
          <li>
            <a href="#" class="c-footer__link" target="_blank">運営会社情報</a>
          </li>
          <li><a href="#" class="c-footer__link" target="_blank">個人情報保護方針</a></li>
          <li><a href="#" class="c-footer__link" target="_blank">特定商取引法に基づく表示</a></li>
          <li><a href="#" class="c-footer__link" target="_blank">利用規約</a></li>
          <li>
            <a href="#" class="c-footer__link" target="_blank">ご利用上の注意</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="c-footer__btns">
        <a href="#" class="c-footer__btn">
          <img src="./assets/img/btn-1.png" alt="新規プランお申込み">
        </a>
        <a href="#" class="c-footer__btn">
          <img src="./assets/img/btn-2.png" alt="資料請求・お問い合わせ">
        </a>
    </div>
    <p class="c-footer__copyright">Copyright(C) COGITO Inc. All Rights Reserved.</p>
  </div>
</footer>
