<section class="c-future">
  <h2 class="c-title c-future__title">こんなご利用が可能</h2>
  <h3 class="c-subtitle c-future__subtitle">
    お客様にあわせた細やかなアプローチで円滑なコミュニケーションを
  </h3>
  <div class="l-container">
    <div class="c-future__items">
        <div class="c-future__item">
          <div class="c-future__icon">
            <img src="./assets/img/section-5-1.svg" alt="" />
          </div>
          <span class="c-future__iconlabel">自動返信機能</span>
          <p class="c-future__p">
            お友だちの特定のアクションへメッセージを自動的に返信知りたい情報を即時に返信することでお客様満足度アップ
          </p>
        </div>
        <div class="c-future__item">
            <div class="c-future__icon">
              <img src="./assets/img/section-5-2.svg" alt="" />
            </div>
            <span class="c-future__iconlabel">自動返信機能</span>
            <p class="c-future__p">
              お友だちの特定のアクションへメッセージを自動的に返信知りたい情報を即時に返信することでお客様満足度アップ
            </p>
          </div>
          <div class="c-future__item">
            <div class="c-future__icon">
              <img src="./assets/img/section-5-3.svg" alt="" />
            </div>
            <span class="c-future__iconlabel">自動返信機能</span>
            <p class="c-future__p">
              お友だちの特定のアクションへメッセージを自動的に返信知りたい情報を即時に返信することでお客様満足度アップ
            </p>
          </div>
          <div class="c-future__item">
            <div class="c-future__icon">
              <img src="./assets/img/section-5-4.svg" alt="" />
            </div>
            <span class="c-future__iconlabel">自動返信機能</span>
            <p class="c-future__p">
              お友だちの特定のアクションへメッセージを自動的に返信知りたい情報を即時に返信することでお客様満足度アップ
            </p>
          </div>
          <div class="c-future__item">
            <div class="c-future__icon">
              <img src="./assets/img/section-5-5.svg" alt="" />
            </div>
            <span class="c-future__iconlabel">自動返信機能</span>
            <p class="c-future__p">
              お友だちの特定のアクションへメッセージを自動的に返信知りたい情報を即時に返信することでお客様満足度アップ
            </p>
          </div>
          <div class="c-future__item">
            <div class="c-future__icon">
              <img src="./assets/img/section-5-6.svg" alt="" />
            </div>
            <span class="c-future__iconlabel">自動返信機能</span>
            <p class="c-future__p">
              お友だちの特定のアクションへメッセージを自動的に返信知りたい情報を即時に返信することでお客様満足度アップ
            </p>
          </div>
          <div class="c-future__item">
            <div class="c-future__icon">
              <img src="./assets/img/section-5-7.svg" alt="" />
            </div>
            <span class="c-future__iconlabel">自動返信機能</span>
            <p class="c-future__p">
              お友だちの特定のアクションへメッセージを自動的に返信知りたい情報を即時に返信することでお客様満足度アップ
            </p>
          </div>
          <div class="c-future__item">
            <div class="c-future__icon">
              <img src="./assets/img/section-5-8.svg" alt="" />
            </div>
            <span class="c-future__iconlabel">自動返信機能</span>
            <p class="c-future__p">
              お友だちの特定のアクションへメッセージを自動的に返信知りたい情報を即時に返信することでお客様満足度アップ
            </p>
          </div>
      </div>
  </div>
  
</section>
