<section class="c-future">
  <h2 class="c-title c-future__title">LinkATの今後</h2>
  <h3 class="c-subtitle c-future__subtitle">
    さらに使いやすく、<br class="is-sp">より戦略的にLINE公式アカウントを<br class="is-sp">ご活用いただくべく、<br class="is-sp">さらなるアップデートを<br class="is-sp">予定しております。
  </h3>
  <div class="l-container">
    <div class="c-future__items">
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon1">
            <img src="./assets/img/section-5-1.svg" alt="自動返信機能" />
          </div>
          <span class="c-future__iconlabel">自動返信機能</span>
        </div>
        <p class="c-future__p">
          お友だちの特定のアクションへメッセージを自動的に返信知りたい情報を即時に返信することでお客様満足度アップ
        </p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon2">
            <img src="./assets/img/section-5-2.svg" alt="対応進捗管理" />
          </div>
          <span class="c-future__iconlabel">対応進捗管理</span>
        </div>
        <p class="c-future__p">
          お友だちとのメッセージのやりとりの進捗を見える化<br />
          対応漏れやトラブル対応の共有などに
        </p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon3">
            <img src="./assets/img/section-5-3.svg" alt="管理画面の権限" />
          </div>
          <span class="c-future__iconlabel">管理画面の権限</span>
        </div>
        <p class="c-future__p">
          管理画面を複数スタッフで共有設定できる領域をスタッフごとに分けることでオペレーションや情報を管理
        </p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon4">
            <img src="./assets/img/section-5-4.svg" alt="お友だちへのリマインド機能" />
          </div>
          <span class="c-future__iconlabel">お友だちへのリマインド機能</span>
        </div>

        <p class="c-future__p">
          イベントや予約日など、特定の日時からさかのぼって「1週間前」「3日前」など、メッセージを段階的に自動配信予約のスキップ
        </p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon5">
            <img src="./assets/img/section-5-5.svg" alt="自動返信機能" />
          </div>
          <span class="c-future__iconlabel">自動返信機能</span>
        </div>

        <p class="c-future__p"></p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon6">
            <img src="./assets/img/section-5-6.svg" alt="自動返信機能" />
          </div>
          <span class="c-future__iconlabel">自動返信機能</span>
        </div>

        <p class="c-future__p"></p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon7">
            <img src="./assets/img/section-5-7.svg" alt="自動返信機能" />
          </div>
          <span class="c-future__iconlabel">自動返信機能</span>
        </div>

        <p class="c-future__p"></p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon8">
            <img src="./assets/img/section-5-8.svg" alt="自動返信機能" />
          </div>
          <span class="c-future__iconlabel">自動返信機能</span>
        </div>
        <p class="c-future__p"></p>
      </div>
    </div>
    <div class="c-future_note">
      <p>・・・その他順次機能アップデートを予定しています</p>
      <p>また、コギトご提供するその他の店舗DX(デジタルトランスフォーメーション)サービスとのかけあわせにより、
        店舗/ブランドのトータルソリューションのご提供も可能です。</p>
    </div>
  </div>
</section>
