<section class="c-future">
  <h2 class="c-title c-future__title">こんなご利用が可能</h2>
  <h3 class="c-subtitle c-future__subtitle">
    お客様にあわせた細やかなアプローチで円滑なコミュニケーションを
  </h3>
  <div class="l-container">
    <div class="c-future__items">
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon">
            <img src="./assets/img/section-5-1.svg" alt="" />
          </div>
          <span class="c-future__iconlabel">自動返信機能</span>
        </div>
        <p class="c-future__p">
          お友だちの特定のアクションへメッセージを自動的に返信知りたい情報を即時に返信することでお客様満足度アップ
        </p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon">
            <img src="./assets/img/section-5-2.svg" alt="" />
          </div>
          <span class="c-future__iconlabel">対応進捗管理</span>
        </div>
        <p class="c-future__p">
          お友だちとのメッセージのやりとりの進捗を見える化<br />
          対応漏れやトラブル対応の共有などに
        </p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon">
            <img src="./assets/img/section-5-3.svg" alt="" />
          </div>
          <span class="c-future__iconlabel">管理画面の権限</span>
        </div>
        <p class="c-future__p">
          管理画面を複数スタッフで共有設定できる領域をスタッフごとに分けることでオペレーションや情報を管理
        </p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon">
            <img src="./assets/img/section-5-4.svg" alt="" />
          </div>
          <span class="c-future__iconlabel">お友だちへのリマインド機能</span>
        </div>

        <p class="c-future__p">
          イベントや予約日など、特定の日時からさかのぼって「1週間前」「3日前」など、メッセージを段階的に自動配信予約のスキップ
        </p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon">
            <img src="./assets/img/section-5-5.svg" alt="" />
          </div>
          <span class="c-future__iconlabel">自動返信機能</span>
        </div>

        <p class="c-future__p"></p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon">
            <img src="./assets/img/section-5-6.svg" alt="" />
          </div>
          <span class="c-future__iconlabel">自動返信機能</span>
        </div>

        <p class="c-future__p"></p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon">
            <img src="./assets/img/section-5-7.svg" alt="" />
          </div>
          <span class="c-future__iconlabel">自動返信機能</span>
        </div>

        <p class="c-future__p"></p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon">
            <img src="./assets/img/section-5-8.svg" alt="" />
          </div>
          <span class="c-future__iconlabel">自動返信機能</span>
        </div>
        <p class="c-future__p"></p>
      </div>
    </div>
    <div class="c-future_note">
      <p>・・・その他順次機能アップデートを予定しています</p>
      <p>また、コギトご提供するその他の店舗DX(デジタルトランスフォーメーション)サービスとのかけあわせにより、
        店舗/ブランドのトータルソリューションのご提供も可能です。</p>
    </div>
  </div>
</section>
