<section class="c-future">
  <h2 class="c-title c-future__title">LinkATの今後</h2>
  <h3 class="c-subtitle c-future__subtitle">
    さらに使いやすく、<br class="is-sp">より戦略的にLINE公式アカウントを<br class="is-sp">ご活用いただくべく、<br class="is-sp">さらなるアップデートを<br class="is-sp">予定しております。
  </h3>
  <div class="l-container">
    <div class="c-future__items">
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon1">
            <img src="./assets/img/section-5-1.svg" alt="自動返信機能" >
          </div>
          <span class="c-future__iconlabel">自動返信機能</span>
        </div>
        <p class="c-future__p">
          お友だちがメッセージなどを送付してきた際に自動で返信を行うだけでなく、応答時間や応答キーワードなどの細かい設定も可能でスタッフの負担削減に。
        </p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon2">
            <img src="./assets/img/section-5-2.svg" alt="対応マーク機能" >
          </div>
          <span class="c-future__iconlabel">対応マーク機能</span>
        </div>
        <p class="c-future__p">
          お友だちとの対応ステータス(状況や進捗)をマークで表示し、対応漏れの防止やトラブルなどの共有が可能です。対応マークを活用してお客様への返信をよりスムーズに行うことが期待できます。
        </p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon3">
            <img src="./assets/img/section-5-3.svg" alt="管理画面の権限" >
          </div>
          <span class="c-future__iconlabel">管理画面の権限</span>
        </div>
        <p class="c-future__p">
          管理画面ごとに使用できる権限を振り分け、スタッフごとに管理画面を複数作成できる機能です。権限に応じて設定できる項目や機能が異なるので、オペレーションの最適化に役立ちます。
        </p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon4">
            <img src="./assets/img/section-5-4.svg" alt="リマインド配信機能" >
          </div>
          <span class="c-future__iconlabel">リマインド配信機能</span>
        </div>

        <p class="c-future__p">
          イベント日などの特定の日時から逆算して「1週間前」、「3日前」と段階的にメッセージを自動で配信できる機能です。リマインド配信を設定することでイベントへの期待値アップ・参加率のアップが期待できます。
        </p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon5">
            <img src="./assets/img/section-5-5.svg" alt="顧客管理" >
          </div>
          <span class="c-future__iconlabel"> 顧客管理</span>
        </div>

        <p class="c-future__p"></p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon6">
            <img src="./assets/img/section-5-6.svg" alt="スタッフ教育" >
          </div>
          <span class="c-future__iconlabel">スタッフ教育</span>
        </div>

        <p class="c-future__p"></p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon7">
            <img src="./assets/img/section-5-7.svg" alt="集客支援" >
          </div>
          <span class="c-future__iconlabel">集客支援</span>
        </div>

        <p class="c-future__p"></p>
      </div>
      <div class="c-future__item">
        <div class="c-future__iconwrapper">
          <div class="c-future__icon c-future__icon8">
            <img src="./assets/img/section-5-8.svg" alt="データ分析" >
          </div>
          <span class="c-future__iconlabel">データ分析</span>
        </div>
        <p class="c-future__p"></p>
      </div>
    </div>
    <div class="c-future_note">
      <p>・・・その他順次機能アップデートを予定しています</p>
      <p>また、弊社が供するその他の店舗DX(デジタルトランスフォーメーション)サービスとのかけあわせにより、
        店舗/ブランドのトータルソリューションのご提供も可能です。</p>
    </div>
  </div>
</section>
