<header class="c-header">
  <div class="l-container--1100 is-pc">
    <div class="c-header__extralink">
      <a href="https://console-stg.linkat.jp/login.php">管理画面ログイン</a>
    </div>
    <div class="c-header__main">
      <div class="c-header__logo"><a href="index.html"><img src="./assets/img/logo.png" alt="LinkAT"></a></div>
      <nav class="c-header__mainnav">
        <ul class="c-header__navlinks">
          <% if (typeof linklists != 'undefined') { %>
            <% linklists.main && linklists.main.forEach(link => { %>
              <li class="c-header__navlink">
                <a <% if (link.current || link.active) { %>class="is-active"<% } %> href="<%= link.url %>"><%= link.title %></a>
              </li>
            <% }) %>
          <% } %>
        </ul>
      </nav>
      <a class="c-header__inquiry" href="/notes.html">新規プランお申込み</a>
    </div>
  </div>
  <div class="c-menu is-tab">
    <div class="c-header__overlay">
      <div class="c-header__overlaytop">
        <a href="#" class="c-header__overlaylogo">
          <img src="./assets/img/overlay-logo.png" alt="LinkAT">
        </a>
        <div class="c-header__close c-header__menuicon">
          <img src="./assets/img/menu_close.svg" alt="LinkAT">
        </div>
      </div>
     
      <nav class="c-header__mainnav">
        <ul class="c-header__navlinks">
          <% if (typeof linklists != 'undefined') { %>
            <% linklists.main && linklists.main.forEach(link => { %>
              <li class="c-header__navlink">
                <a <% if (link.current || link.active) { %>class="is-active"<% } %> href="<%= link.url %>"><%= link.title %></a>
              </li>
            <% }) %>
          <% } %>
        </ul>
        <div class="c-header__overlaybtns">
            <a href="#" class="c-header__overlaybtn">
                <img src="./assets/img/btn-1.png" alt="LinkAT">
            </a>
            <a href="#" class="c-header__overlaybtn">
              <img src="./assets/img/btn-2.png" alt="LinkAT">
            </a>
            <a href="#" class="c-header__overlaybtn c-header__admin">
              管理画面ログイン
            </a>
        </div>
        <div class="c-header__overlaysns">
            <a href="https://twitter.com/linkatcgte" target="_blank" class="c-header__overlayicon">
              <img src="./assets/img/tw.svg" alt="LinkAT">
            </a>
            <a href="https://www.youtube.com/@linkat7288/featured" target="_blank" class="c-header__overlayicon">
              <img src="./assets/img/ytb.svg" alt="LinkAT">
            </a>
        </div>
      </nav>
    </div>
  </div>
 
  <div class="is-tab">
    <div class="c-header__menu c-header__menuicon">
      <img src="./assets/img/menu_open.svg" alt="LinkAT">
  </div>
  </div>
  
</header>