<section class="c-inquiry">
  <h2 class="c-title">お問い合わせ</h2>
  <h3 class="c-subtitle c-inquiry__subtitle">
    操作やプラン等に関するお問い合わせは、よくあるご質問やWEBマニュアルをご確認いただき、
    解決しない場合は下記へお問い合わせください
  </h3>
  <div class="c-inquiry__time">
    <p class="c-inquiry__label">対応時間</p>
    <p class="c-inquiry__hour">9:00 - 16:00</p>
    <p class="c-inquiry__day">土・日・祝日・指定休日を除く</p>
  </div>
  <div class="l-container">
    <div class="c-inquiry__links">
      <div class="c-inquiry__link">
        <img
          src="./assets/img/new-customer.svg"
          alt="新規のお客様はこちら"
          class="c-inquiry__newicon"
        />
        <p class="c-inquiry__linktitle">
          新規のお客様は<br />
          こちら
        </p>
        <a href="#">
          <img src="./assets/img/link-1.png" alt="新規のお客様はこちら" class="c-inquiry__btn" />
        </a>
      </div>
      <div class="c-inquiry__link">
        <img
          src="./assets/img/old-customer.svg"
          alt="ご利用中のお客様はこちら"
          class="c-inquiry__oldicon"
        />
        <p class="c-inquiry__linktitle">ご利用中のお客様は <br />こちら</p>
        <a href="#" class="c-inquiry__linkbtn">
          <img src="./assets/img/link-2.png" alt="ご利用中のお客様はこちら" class="c-inquiry__btn" />
        </a>
        <p class="c-inquiry__linknote">
          パソコンからログイン ＞ [お問い合わせ] <br />
          メニューのフォームよりお問合わせください。
        </p>
      </div>
    </div>
  </div>
</section>
