<section class="c-line">
  <div class="c-line__header">
    <h2>
      <img src="./assets/img/linkat_1.png" alt="LINE公式アカウントを最大限活用するサポートツール" >
    </h2>
    <h3 class="c-subtitle c-line__subtitle">
      LINE公式アカウントを<br class="is-sp">最大限活用するサポートツール
    </h3>
  </div>
  <div class="l-container">
    <div class="c-line__items">
      <div class="c-line__item">
        <div class="c-line__img">
          <img src="./assets/img/first.png" alt="お客様ごとに最適化された情報をお届け!!" >
        </div>
        <div class="c-line__content">
          <h3 class="c-line__ititle">
            お客様ごとに <br >最適化された情報をお届け!!
          </h3>
          <p class="c-line__p">
            お客様ごとに、求める情報や適切なコミュニケーションの頻度は違います。<br >
            LikATは、お客様の属性(年齢や性別、居住エリアなど)や行動(クーポンの利用やLINEを通じたサイトへの訪問)などに応じて、お客様が「今欲しい情報」をお届けすることができます。
          </p>
        </div>
      </div>
      <div class="c-line__item">
        <div class="c-line__img">
          <img src="./assets/img/second.png" alt="戦略的な運営を可能にする情報収集＆分析" >
        </div>
        <div class="c-line__content">
          <h3 class="c-line__ititle">
            戦略的な運営を可能にする <br >
            情報収集＆分析
          </h3>
          <p class="c-line__p">
            LinkATはお客様の情報を自動的に収集。<br >
            さらにお客様の行動（LINEの操作）に応じてカテゴリ分類もされるため、次の打つ手を講じやすくなります。
          </p>
        </div>
      </div>
      <div class="c-line__item">
        <div class="c-line__img">
          <img src="./assets/img/third.png" alt="「伴走スタイル」で運用をサポート" >
        </div>
        <div class="c-line__content">
          <h3 class="c-line__ititle">「伴走スタイル」で運用をサポート</h3>
          <p class="c-line__p">
            LINE公式アカウントの開設が初めての方でも大丈夫。<br >
            専任の担当が、LINE公式アカウントの開設方法からLinkATの使い方、さらに導入後の運用までしっかりサポートいたします。<br >
            お店やブランドの運営方法やお客様層によってお悩みは様々。ともに考え、そのタイミングでお店に必要な運用をご提案させていただきます。
          </p>
        </div>
      </div>
      <div class="c-line__item">
        <div class="c-line__img">
          <img src="./assets/img/fourth.png" alt="20年の顧客コミュニケーションノウハウ" >
        </div>
        <div class="c-line__content">
          <h3 class="c-line__ititle">20年の顧客コミュニケーションノウハウ</h3>
          <p class="c-line__p">
            コギトは2000年からコミュニケーションツールを提供し、運用ノウハウを蓄積してきました。<br >
            顧客をファンにし、ファンを継続的に増やすために施策や、運用のサポートなどをご提供。<br >
            さらに、コギトの提供する店舗支援ツールとの連携など、店舗運営をトータルでサポートいたします。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
