<section class="c-line u-arrowbg">
  <div class="c-line__header">
    <h2>
      <img src="./assets/img/linkat_1.png" alt="LINE公式アカウントを最大限活用するサポートツール" >
    </h2>
    <h3 class="c-subtitle c-line__subtitle">
      LINE公式アカウントを<br class="is-sp">最大限活用するサポートツール
    </h3>
  </div>
  <div class="l-container">
    <div class="c-line__items">
      <div class="c-line__item">
        <div class="c-line__img c-line__img1">
          <img src="./assets/img/first.png" alt="お客様ごとに最適化された情報をお届け!!" >
        </div>
        <div class="c-line__content">
          <h3 class="c-line__ititle">
            お客様ごとに <br >最適化された情報をお届け!!
          </h3>
          <p class="c-line__p">
            お客様ごとに、求める情報や適切なコミュニケーションの頻度は違います。<br>
            LinkATは、お客様の属性(年齢や性別、居住エリアなど)や行動(リッチメニューの操作やアンケートへの回答)などに応じて、お客様が「今欲しい情報」をお届けすることができます。
          </p>
        </div>
      </div>
      <div class="c-line__item">
        <div class="c-line__img  c-line__img2">
          <img src="./assets/img/second.png" alt="戦略的な運営を可能にする情報収集＆分析" >
        </div>
        <div class="c-line__content">
          <h3 class="c-line__ititle">
            戦略的な運営を可能にする <br >
            情報収集＆分析
          </h3>
          <p class="c-line__p">
            LinkATはお客様のニーズや声を幅広く収集。 <br>
            さらにお客様の行動（LINEの操作）に応じてカテゴリ分類もされるため、次の打つ手を講じやすくなります。
          </p>
        </div>
      </div>
      <div class="c-line__item">
        <div class="c-line__img c-line__img3">
          <img src="./assets/img/third.png" alt="「伴走スタイル」で運用をサポート" >
        </div>
        <div class="c-line__content">
          <h3 class="c-line__ititle">「伴走スタイル」で運用をサポート</h3>
          <p class="c-line__p">
            LinkATの導入後にはLinkATの使い方をお伝えする導入研修や、操作方法について分かりやすく説明したチュートリアル機能でしっかりとサポートいたします。<br>
            店舗やブランドの運営方法やお客様層によってお悩みは様々。ともに考え、そのタイミングで店舗に必要な運用をご提案させていただきます。
          </p>
        </div>
      </div>
      <div class="c-line__item">
        <div class="c-line__img  c-line__img4">
          <img src="./assets/img/fourth.png" alt="20年の顧客コミュニケーションノウハウ" >
        </div>
        <div class="c-line__content">
          <h3 class="c-line__ititle">20年の顧客コミュニケーションノウハウ</h3>
          <p class="c-line__p">
            弊社は2000年からコミュニケーションツールを提供し、<br>運用ノウハウを蓄積してきました。 <br>
            顧客をファンにし、ファンを継続的に増やすために施策や、運用のサポートなどをご提供。<br>
            さらに、弊社の提供する店舗支援ツールとの連携など、店舗運営をトータルでサポートいたします。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
