<section class="c-mechanism">
  <h2 class="c-title">お店のファンを創り出す「仕組み」づくりを</h2>
  <h3 class="c-subtitle">「層」をなす顧客を、よりコアに近づけるために</h3>
  <!-- Section-2-item -->
  <div class="l-container">
    <div class="c-mechanism__items">
      <div class="c-mechanism__item">
        <div class="c-mechanism__top">
          <div class="c-mechanism__icon">
            <img src="./assets/img/section-2-1.png" alt="" />
          </div>
          <div class="c-mechanism__header">
            <div class="c-mechanism__label">
              <span class="c-mechanism__text">作戦</span>
              <span class="c-mechanism__text">その1</span>
            </div>
            <div class="c-mechanism__title">
              「知らない」からリピーター、 そしてファンへ大作戦!!
            </div>
          </div>
        </div>
        <div class="c-mechanism__main">
          <p class="c-mechanism__p">
            コア顧客＝ファンは生まれるものではなく、自ら創り出すものです。<br />
            そのためには、「仕組みづくり」が重要。<br />
            お店やブランドを「知らない層」から「購入者」「リピーター」そして「ファン」。<br />
            層をなすように関係性を結ぶ顧客の各プロセスに応じた適切なアプローチを継続的に行うことにより、より深く、そして永いつながりを持つことが可能になります。
          </p>
        </div>
      </div>
      <div class="c-mechanism__item">
        <div class="c-mechanism__top">
          <div class="c-mechanism__icon c-mechanism__icon2">
            <img src="./assets/img/section-2-2.png" alt="" />
          </div>
          <div class="c-mechanism__header">
            <div class="c-mechanism__label">
              <span class="c-mechanism__text">作戦</span>
              <span class="c-mechanism__text">その2</span>
            </div>
            <div class="c-mechanism__title">
              まずは「今いるお客様」を ファンに大作戦!!
            </div>
          </div>
        </div>
        <div class="c-mechanism__main">
          <p class="c-mechanism__p">
            集客はいつの世もお店やブランドにとっての課題です。<br />
            SNSが当たり前に浸透している昨今、1つのお店やブランドからの発信力はある種限られているともいえます。そこで必要になるのが、ファンの力。<br />
            お店やブランドを応援したいという能動的な働きかけをするお客様がどれだけいるかで、発信力が最大化するのではないでしょうか。
            <br />
            広告宣伝に注力することももちろん重要です。ですが、これから元気に永くお店やブランドを継続していくために、まずは今いるお客様との関係性を深めることから始めてみませんか？
          </p>
        </div>
      </div>
      <div class="c-mechanism__item">
        <div class="c-mechanism__top">
          <div class="c-mechanism__icon">
            <img src="" alt="" />
          </div>
          <div class="c-mechanism__header">
            <div class="c-mechanism__label">
              <span class="c-mechanism__text">作戦</span>
              <span class="c-mechanism__text">その3</span>
            </div>
            <div class="c-mechanism__title">
              LINEでいつでも<br />
              お客様の身近に大作戦!!
            </div>
          </div>
        </div>
        <div class="c-mechanism__main">
          <p class="c-mechanism__p">
            LINEはもはや国民的なコミュニケーションツール。<br />
            9,300万人(2022年9月末時点)、日本の70%が利用しています。<br />
            お客様と適度な距離感でコミュニケーションを取り続けるために、「いつも使っている」LINEを活用することでお客様の身近な存在として寄り添うことができます。
          </p>
        </div>
      </div>
      <div class="c-mechanism__item">
        <div class="c-mechanism__top">
          <div class="c-mechanism__icon">
            <img src="" alt="" />
          </div>
          <div class="c-mechanism__header">
            <div class="c-mechanism__label">
              <span class="c-mechanism__text">作戦</span>
              <span class="c-mechanism__text">その4</span>
            </div>
            <div class="c-mechanism__title">
              まずは一歩、そして<br />
              さらにもう一歩大作戦!!
            </div>
          </div>
        </div>
        <div class="c-mechanism__main">
          <p class="c-mechanism__p">
            もしまだLINE公式アカウントを始めていないのであれば、また、開設しても使い方が分からないのであれば、ぜひ一度ご相談ください。<br />
            「1回だけ来店した」「ちょっとだけ興味を持った」大切なお客様と確実に関係を結び、ファンとしてともにお店やブランドを盛り上げてくださるような「仕組みづくり」をご提案します。<br />
            まずは一歩、そして私たちとともに、そこからさらに一歩踏み出してみませんか。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
