<section class="c-mechanism" id="about">
  <h3 class="c-subtitle c-mechanism__subheading">
    「LinkATは店舗・ブランドのお客さまを「ファン」に育てるサポートツールです
  </h3>
  <!-- Section-2-item -->
  <div class="l-container">
    <div class="c-mechanism__items">
      <div class="c-mechanism__item">
        <div class="c-mechanism__top">
          <div class="c-mechanism__icon">
            <img
              src="./assets/img/section-2-1.png"
              alt="知らない」からリピーター、 そしてファンへ大作戦!!"
            >
          </div>
          <div class="c-mechanism__header">
            <div class="c-mechanism__label">
              <span class="c-mechanism__text">作戦</span>
              <span class="c-mechanism__text">その1</span>
            </div>
            <div class="c-mechanism__title">
              一度きりのお客様から <br >
              リピーターへ！ <br >
              お客様をLINEで <br >
              囲い込み大作戦!!
            </div>
          </div>
        </div>
        <div class="c-mechanism__main">
          <p class="c-mechanism__p">
            まずは店舗やブランドのLINE公式アカウントを開設しましょう！<br >
            お客さまにLINEで友だち追加していただき、いつでも情報発信できる環境を整えておきましょう。
          </p>
        </div>
      </div>
      <div class="c-mechanism__item">
        <div class="c-mechanism__top">
          <div class="c-mechanism__icon c-mechanism__icon2">
            <img
              src="./assets/img/section-2-2.png"
              alt="まずは「今いるお客様」を ファンに大作戦!!"
            >
          </div>
          <div class="c-mechanism__header">
            <div class="c-mechanism__label">
              <span class="c-mechanism__text">作戦</span>
              <span class="c-mechanism__text">その2</span>
            </div>
            <div class="c-mechanism__title">
              お客様にあわせた <br >
              「ウザくない」ご案内を！ <br >
              顧客満足度アップ <br >
              大作戦!!
            </div>
          </div>
        </div>
        <div class="c-mechanism__main">
          <p class="c-mechanism__p">
            LINE公式アカウントをLinkATと連携させることで、 <br >
            お客さまの属性に合わせたメッセージ配信が可能です。 <br >
            自分に合った情報が届くので、ブロック率を下げ、お客さまの満足度UPに！
          </p>
        </div>
      </div>
      <div class="c-mechanism__item">
        <div class="c-mechanism__top">
          <div class="c-mechanism__icon c-mechanism__icon3">
            <img
              src="./assets/img/section-2-3.png"
              alt=" LINEでいつでもお客様の身近に大作戦!!"
            >
          </div>
          <div class="c-mechanism__header">
            <div class="c-mechanism__label">
              <span class="c-mechanism__text">作戦</span>
              <span class="c-mechanism__text">その3</span>
            </div>
            <div class="c-mechanism__title">
              クーポンや <br >
              ショップカードをフル活用！ <br >
              お客さまの <br >
              来店頻度アップ大作戦 <br >
            </div>
          </div>
        </div>
        <div class="c-mechanism__main">
          <p class="c-mechanism__p">
            LinkATなら、クーポンやショップカードを、 <br >
            より見込みの高いお客さまに限定して配信できます。 <br >
            優良顧客さまにはVIPクーポンやカードを発行できるので特別感の演出にも活用いただけます。
          </p>
        </div>
      </div>
      <div class="c-mechanism__item">
        <div class="c-mechanism__top">
          <div class="c-mechanism__icon c-mechanism__icon4">
            <img
              src="./assets/img/section-2-4.png"
              alt="まずは一歩、そしてさらにもう一歩大作戦!!"
            >
          </div>
          <div class="c-mechanism__header">
            <div class="c-mechanism__label">
              <span class="c-mechanism__text">作戦</span>
              <span class="c-mechanism__text">その4</span>
            </div>
            <div class="c-mechanism__title">
              リアルな声を <br >
              リアルタイムで確認！ <br >
              お客さまに寄り添う <br >
              アンケート大作戦!! <br >
            </div>
          </div>
        </div>
        <div class="c-mechanism__main">
          <p class="c-mechanism__p">
            LinkATではLINE公式アカウントに比べて、 <br >
            より細かく・簡単にアンケートを作成することが出来ます。 <br >
            回答内容は即時に確認OK！ <br >
            お客さまの声を素早く吸い上げ、店舗やブランドをより良くする施策に繋げていきませんか。
          </p>
        </div>
      </div>
    </div>
    <div class="c-mechanism__footer">
      <p class="c-mechanism__ftext">
        LinkATとLINEで <br>
        店舗の売上アップへ
      </p>
      
    </div>
  </div>
</section>
