<section class="c-notice">
    <h2 class="c-title">お知らせ</h2>
    <div class="l-container">
        <ul class="c-notice__items">
            <li> 
                <a href="#"  class="c-notice__item">
                    <span class="c-notice_date">2023/04/01</span>
                    <h3 class="c-notice__title">LINE公式アカウントがアップデートされました</h3>
                </a>
            </li>
            <li> 
                <a href="#"  class="c-notice__item">
                    <span class="c-notice_date">2023/04/01</span>
                    <h3 class="c-notice__title">LINE公式アカウントがアップデートされました</h3>
                </a>
            </li>
            <li> 
                <a href="#"  class="c-notice__item">
                    <span class="c-notice_date">2023/04/01</span>
                    <h3 class="c-notice__title">LINE公式アカウントがアップデートされました</h3>
                </a>
            </li>
            <li> 
                <a href="#"  class="c-notice__item">
                    <span class="c-notice_date">2023/04/01</span>
                    <h3 class="c-notice__title">LINE公式アカウントがアップデートされました</h3>
                </a>
            </li>
            <li> 
                <a href="#"  class="c-notice__item">
                    <span class="c-notice_date">2023/04/01</span>
                    <h3 class="c-notice__title">LINE公式アカウントがアップデートされました</h3>
                </a>
            </li>
        </ul>
    </div>
</section>