<!-- <section class="c-qr u-arrowbg" id="demo">
  <h2 class="c-title c-qr__title">LinkATを体験する</h2>
  <h3 class="c-subtitle c-qr__subtitle">
    QRコードをLINEで読み取って、LinkATを友だち追加すると、 お客様画面の体験ができます。
  </h3>
  <div class="c-qr__qr">
    <img src="./assets/img/qr.png" alt=" QRコードをLINEで読み取って、LinkATを友だち追加すると、 お客様画面の体験ができます。" >
  </div>
</section> -->
