<section class="c-tool">
  <div class="l-container">
    <div class="c-tool__header">
      <img src="./assets/img/section-3.png" alt="" />
      <h3 class="c-subtitle c-tool__subtitle">
        LINE公式アカウントを「痒いところに手が届く」ツールへアップデートします
      </h3>
    </div>
    <div class="c-tool__items">
      <div class="c-tool__item">
        <span class="c-tool__label">メッセージ配信</span>
        <div class="c-tool__icon c-tool__phone">
          <img src="./assets/img/phone.svg" alt="" />
        </div>
        <p class="c-tool__text">
          友だちとの1対1のトークやメッセージのテンプレート化など、細やかなコミュニケーションや配信の効率化が可能に。
          <img src="./assets/img/bubble-1.png" class="c-tool__cloud" alt="" />
        </p>
      </div>
      <div class="c-tool__item">
        <span class="c-tool__label">友だち管理</span>
        <div class="c-tool__icon c-tool__people">
          <img src="./assets/img/people.svg" alt="" />
        </div>
        <p class="c-tool__text">
          「タグ」付けできる幅が広がり、さらに登録している友だちのステータスや提供する情報の管理が簡便になります。
          <img src="./assets/img/bubble-2.png" class="c-tool__cloud" alt="" />
        </p>
      </div>
      <div class="c-tool__item">
        <span class="c-tool__label">リッチメニュー</span>
        <div class="c-tool__icon c-tool__repair">
          <img src="./assets/img/repair.svg" alt="" />
        </div>
        <p class="c-tool__text">
          <img src="./assets/img/bubble-3.png" class="c-tool__cloud" alt="" />
          友だちのステータスや季節ごとにリッチメニューの表示を変えるなど、より囲い込みに適した表示が可能に。
        </p>
      </div>
      <div class="c-tool__item">
        <span class="c-tool__label">アンケート</span>
        <div class="c-tool__icon c-tool__task">
          <img src="./assets/img/task.svg" alt="" />
        </div>
        <p class="c-tool__text">
          <img src="./assets/img/bubble-4.png" class="c-tool__cloud" alt="" />

          直観的な操作で簡単にアンケート作成が可能。さらに、回答内容に応じて友だちに「タグ」付けができるため、嗜好や属性に応じたメッセージやクーポン配布などの戦略的な施策も可能に。
        </p>
      </div>
      <div class="c-tool__item">
        <span class="c-tool__label">分析機能</span>
        <div class="c-tool__icon c-tool__chart">
          <img src="./assets/img/chart.svg" alt="" />
        </div>
        <p class="c-tool__text">
          <img src="./assets/img/bubble-5.png" class="c-tool__cloud" alt="" />
          友だちが追加された経路ごとに、「タグ」付けやメッセージ配信ができるなど、分析に加えて友だちの次回アクションに繋がる操作の自動設定が可能。
        </p>
      </div>
    </div>
  </div>
</section>
