<section class="c-use">
  <h2 class="c-title c-use__title">こんなご利用が可能</h2>
  <h3 class="c-subtitle c-use__subtitle">
    お客様にあわせた細やかなアプローチで円滑なコミュニケーションを
  </h3>
  <div class="c-slider__wrapper">
    <div class="c-arrow c-arrow__left">
      <img src="./assets/img/left.svg" alt="" />
    </div>
    <div class="c-use__slider l-container">
      <div class="c-use__slide">
        <p class="c-use__slidetitle">
          友達ごとにメッセージやメニュー表示を自動変更
        </p>
        <p class="c-use__slidedes">
          LinkATは、「友達タグ付け機能」でお客様を細かく分類することができます。<br />
          タグごとにメッセージやメニュー表示をふりわけて配信することで、お客様それぞれに最適化された情報を提供することができます。
        </p>
        <div class="c-use__slidecontent">
          <div class="c-use__phone">
            <img src="./assets/img/phone-1.png" alt="" />
          </div>
          <div class="c-use__phone">
            <img src="./assets/img/phone-2.png" alt="" />
          </div>
          <div class="c-use__phone">
            <img src="./assets/img/phone-3.png" alt="" />
          </div>
          <div class="c-use__bubble1">
            <img src="./assets/img/phone-bubble.png" alt="" />
          </div>
        </div>
      </div>
      <div class="c-use__slide">
        <p class="c-use__slidetitle">ライトに回答できるアンケートの配信</p>
        <p class="c-use__slidedes">
          毎日使う身近なコミュニケーションツールであるLINEを通じて配信することで、お客様にとって回答のハードルが低いアンケートを実施することができます。<br />
          LinkATでは様々な回答方式のアンケートを作成でき、回答内容ごとに自動的にタグ付けすることができるので、アンケートを効果的に活用することが可能です。
        </p>
        <div class="c-use__slidecontent">
          <div class="c-use__threephone">
            <img src="./assets/img/phone-slide-2.png" alt="" />
          </div>
        </div>
      </div>
      <div class="c-use__slide">
        <p class="c-use__slidetitle">ライトに回答できるアンケートの配信</p>
        <p class="c-use__slidedes">
          毎日使う身近なコミュニケーションツールであるLINEを通じて配信することで、お客様にとって回答のハードルが低いアンケートを実施することができます。
          <br />
          LinkATでは様々な回答方式のアンケートを作成でき、回答内容ごとに自動的にタグ付けすることができるので、アンケートを効果的に活用することが可能です。
        </p>
        <div class="c-use__slidecontent c-use__slidecontent3">
          <div class="c-use__phone">
            <img src="./assets/img/phone-slide-3.png" alt="" />
          </div>
          <div class="c-use__bubble1">
            <img src="./assets/img/phone-bubble-2.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="c-arrow c-arrow__right">
      <img src="./assets/img/right.svg" alt="" />
    </div>
  </div>
</section>
